In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/LiyaT3/Data_Files/main/FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = 'latin-1')

In [3]:
df.head(3)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.0,39728.0,40551.0,41389.0,42228.0
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.0,0.0,0.0,0.0,0.0
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.0,3379.0,3372.0,3341.0,3322.0

In [4]:
df.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [5]:
#To find the sum of processing in 2017
pro_2017 = df[df['Element'] == 'Processing']['Y2017'].sum()
print(pro_2017)

292836.0

In [9]:
unq = df['Item'].unique()
print(unq)

['Population' 'Grand Total' 'Vegetal Products' 'Animal Products'
 'Cereals - Excluding Beer' 'Wheat and products' 'Rice and products'
 'Barley and products' 'Maize and products' 'Rye and products' 'Oats'
 'Millet and products' 'Sorghum and products' 'Cereals, Other'
 'Starchy Roots' 'Cassava and products' 'Potatoes and products'
 'Sweet potatoes' 'Yams' 'Roots, Other' 'Sugar Crops' 'Sugar cane'
 'Sugar beet' 'Sugar & Sweeteners' 'Sugar (Raw Equivalent)'
 'Sweeteners, Other' 'Honey' 'Pulses' 'Beans' 'Peas'
 'Pulses, Other and products' 'Treenuts' 'Nuts and products' 'Oilcrops'
 'Soyabeans' 'Groundnuts (Shelled Eq)' 'Sunflower seed'
 'Rape and Mustardseed' 'Cottonseed' 'Coconuts - Incl Copra' 'Sesame seed'
 'Olives (including preserved)' 'Oilcrops, Other' 'Vegetable Oils'
 'Soyabean Oil' 'Groundnut Oil' 'Sunflowerseed Oil' 'Rape and Mustard Oil'
 'Cottonseed Oil' 'Palmkernel Oil' 'Palm Oil' 'Coconut Oil'
 'Sesameseed Oil' 'Olive Oil' 'Maize Germ Oil' 'Oilcrops Oil, Other'
 'Vegetables' 'Tomatoes and products' 'Onions' 'Vegetables, Other'
 'Fruits - Excluding Wine' 'Oranges, Mandarines'
 'Lemons, Limes and products' 'Grapefruit and products' 'Citrus, Other'
 'Bananas' 'Plantains' 'Apples and products' 'Pineapples and products'
 'Dates' 'Grapes and products (excl wine)' 'Fruits, Other' 'Stimulants'
 'Coffee and products' 'Cocoa Beans and products' 'Tea (including mate)'
 'Spices' 'Pepper' 'Pimento' 'Cloves' 'Spices, Other'
 'Alcoholic Beverages' 'Wine' 'Beer' 'Beverages, Fermented'
 'Beverages, Alcoholic' 'Alcohol, Non-Food' 'Meat' 'Bovine Meat'
 'Mutton & Goat Meat' 'Pigmeat' 'Poultry Meat' 'Meat, Other' 'Offals'
 'Offals, Edible' 'Animal fats' 'Butter, Ghee' 'Cream'
 'Fats, Animals, Raw' 'Fish, Body Oil' 'Fish, Liver Oil' 'Eggs'
 'Milk - Excluding Butter' 'Fish, Seafood' 'Freshwater Fish'
 'Demersal Fish' 'Pelagic Fish' 'Marine Fish, Other' 'Crustaceans'
 'Cephalopods' 'Molluscs, Other' 'Aquatic Products, Other'
 'Aquatic Animals, Others' 'Aquatic Plants' 'Miscellaneous' 'Infant food'
 'Sugar non-centrifugal' 'Palm kernels' 'Ricebran Oil']

In [13]:
#To find teh wine for the below years
wine = df[df['Item']=='Wine']
wine_2015 = wine['Y2015'].sum()
wine_2018 = wine['Y2018'].sum()
print(wine_2015,wine_2018)

4251.8099999999995 4039.3199999999997

In [14]:
df['Element'].unique()

array(['Total Population - Both sexes', 'Domestic supply quantity',
       'Food supply (kcal/capita/day)',
       'Protein supply quantity (g/capita/day)',
       'Fat supply quantity (g/capita/day)', 'Production',
       'Import Quantity', 'Stock Variation', 'Export Quantity', 'Feed',
       'Seed', 'Losses', 'Processing', 'Other uses (non-food)',
       'Residuals', 'Food', 'Food supply quantity (kg/capita/yr)',
       'Tourist consumption'], dtype=object)

In [30]:
# Filter the DataFrame for Madagascar in 2015 and sum the protein supply quantity
protein_suply= df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)') & (df['Y2015'].notnull())]['Y2015'].sum()
print(protein_suply)

173.04999999999998

In [31]:
# Select columns 'Y2017' and 'Area'
sel_cols = df[['Y2017', 'Area']]
sum_2017 = sel_cols.groupby('Area')['Y2017'].sum()

# Find the area with the highest sum in 2017
area_highest_sum_2017 = sum_2017.idxmax()
highest_sum_value_2017 = sum_2017.max()

print("Area with the highest sum in 2017:", area_highest_sum_2017)
print("Highest sum in 2017:", highest_sum_value_2017)

Area with the highest sum in 2017: Nigeria
Highest sum in 2017: 1483268.23

In [24]:
area_count = df['Area'].unique()
len(area_count)

49

In [32]:
# Count the number of missing values in the 'Y2014' column
missing_data_2014 = df['Y2014'].isnull().sum()
total_rows = len(df)

# Calculate the percentage of missing data in 2014
missing_2014 = (missing_data_2014 / total_rows) * 100

per = round(missing_2014, 3)

print("Total number of missing data in 2014:", missing_data_2014)
print("Percentage of missing data in 2014:", per, "%")

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607 %

In [26]:
y2017_column = df['Y2017']

# Compute the mean and standard deviation for the year 2017
mean_2017 = y2017_column.mean()
std_dev_2017 = y2017_column.std()

# Round the mean and standard deviation to 2 decimal places
mean_2017 = round(mean_2017, 2)
std_dev_2017 = round(std_dev_2017, 2)

print("Mean for the year 2017:", mean_2017)
print("Standard deviation for the year 2017:", std_dev_2017)

Mean for the year 2017: 140.92
Standard deviation for the year 2017: 1671.86

In [27]:
correlations = {}
for year in range(2014, 2019):
    correlation = df['Element Code'].corr(df[f'Y{year}'])
    correlations[year] = correlation

# Find the year with the least correlation
least_correlated_year = min(correlations, key=correlations.get)

print("Year with the least correlation with 'Element Code':", least_correlated_year)

Year with the least correlation with 'Element Code': 2016

In [28]:
selected_columns = df[['Y2017', 'Area']]

# Perform a groupby operation on 'Area' and sum the values for 'Y2017'
sum_by_area_2017 = selected_columns.groupby('Area')['Y2017'].sum()

# Sort the sums in ascending order and select the 7th lowest sum
seventh_lowest_sum = sum_by_area_2017.nsmallest(7).iloc[-1]

# Find the area(s) with the 7th lowest sum in 2017
area_with_seventh_lowest_sum = sum_by_area_2017[sum_by_area_2017 == seventh_lowest_sum].index.tolist()

print("Area(s) with the 7th lowest sum in 2017:", area_with_seventh_lowest_sum)
print("7th lowest sum in 2017:", seventh_lowest_sum)

Area(s) with the 7th lowest sum in 2017: ['Guinea-Bissau']
7th lowest sum in 2017: 19102.77